<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!--Fonts here:-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet'>
      <!--End of fonts!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  </head>
  <body style="font-family: 'Montserrat'; font-weight: 400;">
  <style>

        h1, h2, h3
        {
            font-family: 'Montserrat';
            font-weight: 900;
        }

   </style>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert" style="background-color: white">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button >
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <nav class="navbar navbar-dark bg-dark">
	  <div class="dropdown">
	    <button class="btn btn-secondary dropdown-toggle" type="button"
			  data-toggle="dropdown" id="dropdownMenuButton"
			  aria-expanded="false" aria-haspopup="true">
          <span class="navbar-toggler-icon"></span>
	    </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for entry in current_menu.children %}
	        {% if entry.visible %}
              <a class="dropdown-item{% if not entry.active %}
                  disabled{% endif %}" href="{{ entry.url }}">{{ entry.text }}</a>
	        {% endif %}
          {% endfor %}
		</div>
	  </div>
    </nav>

	<div class="container">
    {% block content %}
    {% endblock %}
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
