{% extends "backbone.html" %}
{% import "progressbar.html" as widget %}

{% block content %}
<style>

.user_card {
float: left;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 300px;
  position: relative;
  margin: auto;
  text-align: center;
  top: 200px;
  left: 250px;
    top: 50px;
    left: 0px;
}

.user_title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}


.user_container {
    position: relative;

}

.user_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.user_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}



.user_text {
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}

.just_a_box{
  background: black;
  width: 100%;
  height: 60px;
  position: relative;
  top: 16px;
}

<!--Responsivity-->
@media (max-width: 700px) {
  .smthing { position: relative; top: 700px; }
}
@media (min-width: 701px)  {
  .smthing { position: relative; top: 0px; left:50px;}
}


</style>
<br>
<form method="post" >
<div class="user_card">
  <h2 style="text-align:center; position: relative; top: -40px">User Profile Card</h2>
  <div class="user_container">
  <img src="static/users_pictures/{{result.username}}.jpg" onerror="this.src='static/users_pictures/default-photo.jpg';" alt=" " style="width:100%" class="user_image" >
  </div>
  <br>
  <h3>{{result.name}} {{result.surname}}</h3>
  <p class="title">Username: <b>{{result.username}}</b></p>
  <p>Email: {{result.email}}</p>
   <p><div class="just_a_box"> &nbsp</div></p>
</div>
</form>


{% if not done %}
<div style=" position:relative; left:15px">
<p>Send a request for filling the test about me</p>
    <form method="post">
    <button type="submit" class="btn btn-success" style="width: 150px; position:relative; left:15px"
        name="submit"
        value="{{ result.id }}">Send request</button></form>
</div>
{% endif %}
{% if done %}
<div style="position: absolute; top: 720px">
    <h3 style="position:relative; ">What {{ result.username }} thinks about you:</h3>
{% for j in trait %}
    <div class="row" style="max-width: 500px; position: relative; ">
        {{ widget.progressbar(trait[loop.index-1], results_from_friend[loop.index-1], colours[loop.index-1]) }}
    </div>
{% endfor %}
</div>


<br>
<div style="position: absolute; top: 1400px">
<h3 style="position:relative; ">{{result.username}}'s Genomelink results</h3>
{% for j in trait %}
    <div class="row" style="max-width:500px; position:relative; ">
        {{ widget.progressbar(trait[loop.index-1], genome[loop.index-1], colours[loop.index-1]) }}
    </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
