{% extends "backbone.html" %}

{% import "progressbar.html" as widget %}

{% block content %}
<style>

.user_card {
float: left;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 300px;
  position: relative;
  margin: auto;
  text-align: center;
  top: 200px;
  left: 250px;
    top: 50px;
    left: 0px;
}

.user_title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}


.user_container {
    position: relative;

}

.user_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.user_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}



.user_text {
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}

.just_a_box{
  background: black;
  width: 100%;
  height: 60px;
  position: relative;
  top: 16px;
}

<!--Responsivity-->
@media (max-width: 600px) {
  .smthing { position: absolute; top: 700px; }
}
@media (min-width: 601px)  {
  .smthing { position: relative; top: 0px; left:25px;}
}

@media (max-width: 800px) {
  .results_smthing { position: absolute; top: 700px; left: 60px; }
  .h3_class{ width: 100%; font-size: 25px}
}
@media (min-width: 801px)  {
  .results_smthing { position: relative; left:100px; top: 30px}
  .h3_class{ width: 800px }

}

</style>
<br>
<form method="post" >
<div class="user_card">
  <h2 style="text-align:center; position: relative; top: -40px">User Profile Card</h2>
  <div class="user_container">
  <img src="static/users_pictures/{{result.username}}.jpg" onerror="this.src='static/users_pictures/default-photo.jpg';" alt=" " style="width:100%" class="user_image" >
  </div>
  <br>
  <h3>{{result.name}} {{result.surname}}</h3>
  <p class="title">Username: <b>{{result.username}}</b></p>
  <p>Email: {{result.email}}</p>
   <p><div class="just_a_box"> &nbsp</div></p>
</div>

</form>
<div  class="smthing">
{%if done==False %}

<p style="position: relative;">Send a request for filling the test about me</p>
    <button type="submit" class="btn btn-success" style="width: 150px; position:relative;"
        name="{{ form.submit.name }}"
        value="{{ result.id }}">Send request</button>

{% endif %}
</div>


<div class="results_smthing">
{% if done %}
<div class="col-md-6">
            <br>
	        <h3 class ="h3_class" >{{ text }}</h3>

			{% for j in trait %}
				<div class="row">
					{{ widget.progressbar(trait[loop.index-1], data[loop.index-1], colours[loop.index-1]) }}
				</div>
			{% endfor %}
        </div>
{% endif %}
</div>
{% endblock %}
