{% extends "backbone.html" %}

{% block content %}
  {% if reports %}
    <table class="table">
      <thead>
        <tr><th>Trait</th><th>Value</th>
      </thead>
      <tbody>
        {% for report in reports %}
          <tr>
            <td>{{ report.description }}</td>
            <td>{{ report.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ authorize_url }}">Connect with your
			Genomelink account</a> to refresh data.
  {% else %}
    No reports to show. <a href="{{ authorize_url }}">Connect with your
			Genomelink account</a>.
  {% endif %}
{% endblock %}
