{% extends "backbone.html" %}

{% block content %}
  {% if reports %}

  	<div class="row justify-content-center">
	<div class="col-sm-12">
	<canvas id="GLChart"></canvas>
	</div>
	</div>

	<script>
	  var FS = 12;
	  Chart.defaults.global.defaultFontSize = FS;
	  var ctx = document.getElementById('GLChart').getContext('2d');
      var chart = new Chart(ctx, {
	    type: 'radar',
		data: {
          labels: {{ chart_data_test.labels|safe }},
		  datasets: [
		    {% for ds in chart_data_test.datasets %}
			{ label: {{ ds.label|tojson|safe }},
		      borderColor: 'rgb(255, 50, 100)',
			  backgroundColor: 'rgba(255, 50, 100, 0.2)',
			  data: {{ ds.data|safe }}},
		    {% endfor %}

		    {% for ds in chart_data_genome.datasets %}
			{ label: {{ ds.label|tojson|safe }},
		      borderColor: 'rgb(124,252,0)',
			  backgroundColor: 'rgba(124,252,0, 0.2)',
			  data: {{ ds.data|safe }}},
		    {% endfor %}

            {% for ds in chart_data_self.datasets %}
			{ label: {{ ds.label|tojson|safe }},
		      borderColor: 'rgb(0,191,255)',
			  backgroundColor: 'rgba(0,191,255, 0.2)',
			  data: {{ ds.data|safe }}},
		    {% endfor %}

		    {% for ds in chart_data_friends.datasets %}
			{ label: {{ ds.label|tojson|safe }},
		      borderColor: 'rgb(255,165,0)',
			  backgroundColor: 'rgba(255,165,0, 0.2)',
			  data: {{ ds.data|safe }}},
		    {% endfor %}
		  ]},
	    options: {
		  layout: {
		    padding: { left: 0, right: 0, top: 10, bottom: 10 }
		  },
		  scale: {
		    ticks: { min: 0.0, max: 5.0, stepSize: 1.0 },
		    pointLabels: { fontSize: FS },
		  }
		}
	  });
	</script>

	<div class="row justify-content-md-center" style="overflow-x:auto;">>
    <table class="table">
      <thead>
      <tr><th>Trait</th><th>Genome</th><th>Selfassesment</th><th>Test</th><th>Friends</th></tr>
      </thead>
      <tbody>
        {% for i in range(how_hany_trais) %}
          <tr>
            <td>{{ reports[i].description }}</td>
            <td>{{ reports[i].score }}</td>
            <td>{{ selfassesment[i] }}</td>
            <td>{{ test_restul[i] }}</td>
            <td>{{ friendassesment[i] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>

    <a href="{{ authorize_url }}">Connect with your
			Genomelink account</a> to refresh data.
  {% else %}
    No reports to show. <a href="{{ authorize_url }}">Connect with your
			Genomelink account</a>.
  {% endif %}
{% endblock %}
