{% extends "backbone.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hi, {{ current_user.username }}! </h1>
        <p>{{quote}}</p>
    {% endif %}
<br>
    <p>
<h2>Welcome to Show YourShelf!</h2> <br />The application which allows you to compare your thoughts about YourShelf (I mean yourselfe) (<b>Self-assesment</b> in menu), your personality, confirmed by <b>Personality Test</b> (created by our lovely psychologist) and what is in your genes, from Genomelink.
Connect Show YourShelf with Genomelink to obtain all features.</p>

<p> We give you 2 ways of presentation of your results - radar, which looks like spider's web (<b>Results</b> in menu) or by progress bars which show your "progress" in particular traits (<b>Results bars</b> in menu).</p>
<p>What about traits? There are 5 aviable traits - Big Five of traits: agreeableness, conscientiousness, extraversion, neuroticism and openness.
    You can read about each of them after choosing "<b>Personality test</b>" and choosing a trait.</p>
<p>Invate friends to use this applications, then you can add them in <b>YourShelf</b> where you can search for them, or accept their invitation in <b>Friend Requests</b> </p>
<p>With friends you can try to "walk in their's shoes" and make a test one more time answering as you they would answer. Then you can check if you were close to what is in their genes.</p>
<p>You can as well send request to friends to remind them to make your test, and see what they think about you!</p>

{% endblock %}
