{% extends "backbone.html" %}

{% block content %}
    <h1>
        {{title}}
    </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} <!-- Show text, like "Username" -->
        <!-- Form to put Username -->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <!-- Form to put Password, entered characters are hidden -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <!-- Checkbox if user want to be logged in even after closing website -->
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <!-- Submit -->
        <p>{{ form.submit(class="btn btn-success") }}</p>
        <p>{{ forgottenForm.forgottenPassoword(class="btn btn-success") }}</p>
    </form>
{% endblock %}
