
{% extends "backbone.html" %}

{% block content %}
<br><br>
  <h1>Personality test</h1>
{% if visible %}
    <p>How do you think {{user.name}} {{user.surname}} will answer?</p>
{% endif %}

  <form method="post">
	  <!--what is it for?-->
    {{ form.id(value=data.id) }}
	<fieldset class="card form-group" style="border-width: medium; border-color: white">
     <h4 class="card-title"><b> Question {{ data.id }}/{{ data.count }}:
			  {{ data.question }}</b>
	</h4>
	  <div class="card-body">
      {% for field in form.answers %}
        <div class="form-check">
          {{ field(class_='form-check-input') }}
	      {{ field.label(class_='form-check-label') }}
        </div>
      {% endfor %}
	  </div>
	</fieldset>
	<div class="form-group form-check" style="position:relative; left:10px">
	{{ form.show_all(class_='form-check-input') }}
	{{ form.show_all.label(class_='form-check-label') }}
	</div>
	&nbsp;&nbsp;
  	<button type="submit" class="btn btn-success"
            name="{{ form.submit.name }}"
            id="{{ form.submit.id }}">{{ form.submit.label.text }}</button>
  </form>
{% endblock %}