{% extends "backbone.html" %}

{% block content %}

  <h1>Self-assessment questionare</h1>

  <form method="post">
    {{ form.id(value=data.id) }}
	<fieldset class="form-group">
      <legend>Question {{ data.id }}/{{ data.count }}:
			  {{ data.question }}</legend>
	 {% for field in form.answers %}
	   <div class="form-check">
         {{ field(class_='form-check-input') }}
	     {{ field.label(class_='form-check-label') }}
       </div>
	 {% endfor %}
	 <button type="submit" class="btn btn-primary"
             name="{{ form.submit.name }}"
			 id="{{ form.submit.id }}">{{ form.submit.label.text }}</button>
  </form>
{% endblock %}
