
{% extends "backbone.html" %}

{% block content %}
    <h1>
        {{title}}
    </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} <!-- Show text, like "Username" -->
        <!-- Form to put Username -->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=50, placeholder="What would you like to be called?") }}
        </p>
        <!-- Form to put email -->
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=50, placeholder="What is your email?") }}
        </p>
        <!-- Form to put Name -->
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=50, placeholder="What is your name?") }}
        </p>
        <!-- Form to put Surname -->
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=50, placeholder="What is your last name?") }}
        </p>
        <!-- Form to put Password, entered characters are hidden -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=50,placeholder="Your password should have 5 to 50 characters.") }}
        </p>
        <!-- Form to put confirm password -->
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=50, placeholder="Confirm password") }}
        </p>
        <!-- Form to accept Terms of Service etc.-->
        <p>
            {{form.accept_tos}}
            {{ form.accept_tos.label }}
        </p>
        <!-- Submit -->
        <p>{{ form.submit(class="btn btn-success active") }}</p>
    </form>
{% endblock %}


