{% extends "backbone.html" %}

{% block content %}
<br><br>
    <h2>
        Do you feel strong with this trait?
    </h2>
    <h4><b>{{ trait.capitalize() }}</b></h4>
    <form action="" method="post" novalidate>
        <div class="card-body">
        {% for field in form.answers %}
            <div class="form-check">
                {{ field(class_='form-check-input') }}
                {{ field.label(class_='form-check-label') }}
            </div>
        {% endfor %}
	    </div>
        <!-- Submit -->
        <p>{{ form.submit(class="btn btn-success") }}</p>
    </form>
{% endblock %}
